@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* (all other styles here...) */
hr {
	@apply border-surface-400 !important;
}

.card-soft {
	@apply card;
	@apply variant-soft-secondary;
	@apply text-black;
}

hr {
	@apply !border-secondary-500;
}

textarea,
input,
select {
	@apply !bg-surface-200;
}
html,
body {
	@apply h-full overflow-hidden bg-white;
}
